<ng-container *ngIf="!isFetching(); else loading_message">
    <ng-container *ngIf="getMovie(); let movie; else fallback_message">
        <div [style.background-image]="backdropBuilder(movie.backdrop_path)" class="container-fluid py-5 movie-detail">
            <div class=" d-flex justify-content-end p-3">
                <a routerLink="/movies" class="link-light text-decoration-none mt-2 back-btn">
                    <fa-icon [icon]="faArrowLeft"></fa-icon> Back
                </a>
            </div>
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center poster-col">
                    <div class="movie-detail-poster">
                        <app-poster [posterWidth]="500" [posterSource]="movie.poster_path">
                        </app-poster>
                    </div>
                </div>
                <div class="col-md-7 p-4 pt-2">
                    <div class="fw-bold fs-2 mb-4">{{movie.title}}
                        <span *ngIf="movie.release_date" class="fw-normal fs-5 year">
                            ({{movie.release_date.slice(0,4)}})
                        </span>
                    </div>
                    <div class="my-4">{{movie.overview}}</div>
                    <div class="my-2">
                        <span class="fw-bold">Original Language:</span>
                        {{getLanguageName(movie.original_language)}}
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Release Date: </span>{{movie.release_date || 'N/A'}}
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <span class="fw-bold">Genre:</span>
                        <div class="ms-2 genre" *ngFor="let genre of getGenresByIds(movie.genre_ids); let last = last">
                            {{genre}}<span *ngIf="!last">,</span>
                        </div>
                    </div>
                    <div class="my-2">
                        <span class="fw-bold fs-6">Rating : </span>{{movie.vote_average}}/10 ({{movie.vote_count}}
                        votes)
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #fallback_message>
    <div class="d-flex flex-column align-items-center mt-5 pt-4">
        <span class="fw-bold display-4">Oh no!</span>
        <div class="fs-5">You seeem to be lost</div>
        <a routerLink="/movies" class="link-light text-decoration-none mt-2 back-btn">
            <fa-icon [icon]="faArrowLeft"></fa-icon> Reroute
        </a>
    </div>
</ng-template>

<ng-template #loading_message>
    <div class="d-flex justify-content-center fw-bold fs-1 mt-5 pt-4">
        <fa-icon [icon]="faArrowsRotate" class="loader me-2"></fa-icon>
        Loading...
    </div>
</ng-template>