<div class="card" [routerLink]="['/movies', movie.slug]">
  <div class="poster">
    <app-poster [posterWidth]="500" [posterSource]="movie.poster_path"></app-poster>
  </div>
  <div class="drop-fade"></div>
  <div class="card-img-overlay">
    <div class="fw-bold fs-6">{{ movie.title }}</div>
    <div class="d-flex justify-content-between card-details">
      <span>{{ movie.release_date.slice(0, 4) || "N/A" }}</span>
      <span>
        <fa-icon [icon]="faStar"></fa-icon>
        {{ movie.vote_average + "/10" }}
      </span>
    </div>
  </div>
  <fa-icon class="close-btn fs-5" [icon]="faTimesCircle" (click)="removeMovieById(movie.id)"></fa-icon>
</div>