/* You can add global styles to this file, and also import other style files */
body {
  background-color: #111 !important;
  color: #fff !important;
}
.back-btn {
  transition: word-spacing 150ms ease;
  &:hover {
    word-spacing: 5px;
  }
}
.loader {
  animation: rotate 1500ms linear infinite;
  padding-bottom: 2px;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
